<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente vel porro voluptates explicabo. Magnam expedita velit at odit, sequi animi molestiae delectus. Cupiditate, corrupti fuga unde maiores consequuntur optio dicta!</p>
    </div>
</div>