<div class="jumbotron-mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDB</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, quis dolorum optio obcaecati quae officiis rem
        temporibus animi molestias dicta eos voluptas. Doloremque, necessitatibus sequi. Exercitationem modi repellat
        quae quod.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google.com</a>
</div>